.popup_fade_in {
  -webkit-animation: fade .4s ease forwards;
          animation: fade .4s ease forwards;
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}